<header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 centrado-y">
                <div class="titulo">
                    <h1>API Angular Test</h1>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="buscador">
                    <input class="form-control" type="text" (keyup)="searchCharacter(buscador.value)" #buscador>
                    <button type="button" class="btn btn-buscar"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-4 centrado justify-content-end">
                <div class="caja-header">
                    <nav class="menu">
                        <ul>
                            <li><a [routerLink]="['/home']">Home</a></li>
                            <li><a [routerLink]="['/about']">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>