<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 centrado-y">
                <div class="caja-footer">
                    <h2>The Rick and Morty API</h2>
                    <small>This website it's just for portafolio porpuses</small>
                </div>
            </div>
            <div class="col-12 col-sm-6 centrado-y justify-content-end">
                <div class="caja-footer text-right">
                    <p>
                        Created by: 
                        <b><a href="https://github.com/JeremyMezon" target="_blank">Jeremy Mezon</a></b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
